.ChangePassword .Popup {
  width: 37.5rem;
  height: 35rem;
}

.ChangePassword .InputField_password {
  margin-top: 5.125rem;
}

.ChangePassword .InputField_password-check {
  margin-top: 13rem;
}

.ChangePassword .Button {
  margin-top: 22.5625rem;
}

.ChangePassword .error-message {
  height: 1.125rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;

  position: absolute;
  top: 24rem;
  left: 4rem;

  color: #f44242;
}
