.EditPassword {
  width: 43.1875rem;
  height: 28rem;

  background: #ffffff;
  border: 0.0625rem solid #e5e5ea;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(217, 217, 217, 0.2);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.EditPassword .close-icon {
  width: 2rem;
  height: 2rem;
  color: #9ca2ae;
  align-self: flex-end;
  margin-right: 2.25rem;
  margin-top: 2.25rem;
}

.EditPassword .password-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.EditPassword .Button {
  position: inherit;
  margin-left: 22rem;
}

.EditPassword .last-passwordLayout {
  height: 4.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.EditPassword .last-passwordLayout .error-message {
  height: 1.125rem;

  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;

  color: #f44242;
  margin-left: 10rem;
}
