.GoodsList {
  position: relative;
  width: 59.75rem;
  /* height: 50rem; */
  height: calc(100vh - 4.9375rem);
  margin-left: 8.125rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.GoodsList .item-container {
  width: 42rem;
  height: 1100px;

  gap: 5.125rem 4rem;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.GoodsListItem {
  width: 11.25rem;
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.625rem;
}

.GoodsListItem img {
  width: 100%;
  height: 11.25rem;
}

.GoodsListItem p {
  height: 1.125rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.125rem;

  color: #000000;
}

.GoodsListItem h3 {
  height: 1.125rem;

  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.125rem;

  color: #000000;
}

.RecentViewing {
  position: absolute;
  top: 10rem;
  left: 48rem;
  width: 11rem;
  height: 41rem;

  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}

.RecentViewing h6 {
  height: 1.125rem;

  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.125rem;

  color: #000000;
}

.RecentViewing .item-container {
  width: 100%;
  height: 39.0625rem;
  box-shadow: 0.125rem 0.25rem 0.625rem rgba(217, 217, 217, 0.3);
  border-radius: 1.5rem;
  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  align-content: center;
}

.RecentViewing img {
  width: 6.625rem;
  height: 6.625rem;
}
