.MyPage .top-container {
  width: 56.8125rem;
  height: 18.4375rem;
  margin-top: 2.625rem;
  margin-left: 5.25rem;

  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.MyPage .bottom-container {
  position: absolute;
  width: 78.8125rem;
  height: 39.625rem;
  top: 25.0625rem;
  left: 5.25rem;

  display: flex;
  gap: 64px;
}
