.PointItem {
  box-sizing: border-box;

  width: 14.4375rem;
  height: 4.0625rem;

  background: #ffffff;
  border: 0.0625rem solid #f3f4f6;
  border-radius: 1.25rem;
}

.PointItem h3 {
  height: 0.75rem;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.75rem;

  text-align: center;
  color: #626273;
  margin-top: 0.625rem;
}

.PointItem p,
.PointItem input {
  height: 1.8125rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;

  text-align: center;
  color: #21212f;
  margin-top: 0.25rem;
}

.PointItem input {
  width: 14.3rem;
}
