.PointStatus {
  position: relative;
  width: 10.3125rem;
  height: 18.4375rem;
}

.PointStatus .title {
  position: absolute;
  height: 1.5rem;
  left: 0.5rem;
  top: 0rem;

  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* 상자 높이와 동일 */

  /* gray scale/#21212F */
  color: #21212f;
}

.PointStatus .PointMini {
  position: absolute;
  width: 10.3125rem;
  height: 8.4375rem;
  left: 0rem;
  border-radius: 1.25rem;
}

.PointMini .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.PointStatus .PointMini h3 {
  font-weight: 600;
  font-size: 2.25rem;
  color: #21212f;
  text-align: center;
  width: 100%;
}

.PointStatus .PointMini p {
  position: inherit;
  font-weight: 600;
  font-size: 0.75rem;
  color: #626273;
  text-align: center;
  width: 100%;
}

.PointStatus .PointMini_buy {
  top: 2.5rem;

  background: #dbd9ff;
  border: 1px solid #f3f4f6;
}

.PointStatus .PointMini_give {
  top: 11.9375rem;
  height: 6.5rem;
  background: #ffffff;
  border: 1px solid #f3f4f6;
}
