.Popup {
  position: relative;
  width: 37.5rem;
  height: 46.3125rem;

  /* top: 5.625rem; */

  padding-top: 4.375rem;
  padding-left: 3.0625rem;
  padding-right: 3.0625rem;

  display: flex;

  background: #ffffff;
  box-shadow: 0rem 0.25rem 2.1875rem rgba(0, 0, 0, 0.08);
  border-radius: 2.5rem;
}
