.WorkerListItem {
  width: 58.25rem;
  height: 4.625rem;

  background: #ffffff;

  border-radius: 0.9375rem;

  display: flex;
  align-items: center;
  gap: 2.4375rem;
}

.WorkerListItem .checkbox {
  appearance: none;
  margin-left: 2.9375rem;

  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #6b63e1;
  border-radius: 2px;
}

.WorkerListItem .checkbox:checked {
  background-color: #6b63e1;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.WorkerListItem .info-container {
  display: flex;
  height: 100%;
}

.WorkerListItem .image-name {
  display: flex;
  gap: 0.6875rem;
  align-items: center;
  width: 26rem;
}

.WorkerListItem .image-name img {
  width: 2.375rem;
  height: 2.375rem;
}

.WorkerListItem .image-name .name {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 4.625rem;

  color: #21212f;
}

.WorkerListItem .department,
.WorkerListItem .position,
.WorkerListItem .joining,
.WorkerListItem .birth,
.WorkerListItem .point {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 4.625rem;

  color: #9ca2ae;
}

.WorkerListItem.department {
  width: 13.6rem;
}

.EmployeeListItem .WorkerListItem .image-name {
  width: 16.6rem;
}

.EmployeeListItem .WorkerListItem .department {
  width: 9.2rem;
}

.EmployeeListItem .WorkerListItem .position {
  width: 9.9rem;
}

.EmployeeListItem .WorkerListItem .joining {
  width: 9.9rem;
}

.AllSendPoint .WorkerListItem .image-name {
  width: 27.5em;
}

.AllSendPoint .WorkerListItem .department {
  width: 11.2rem;
}

.AllSendPoint .WorkerListItem .position {
  width: 7.3rem;
}

.AllSendPoint .WorkerListItem .point {
  background-color: #f4f6ff;
  width: 4.6875rem;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* 상자 높이와 동일 */
  display: flex;
  align-items: center;
  text-align: center;
  color: #21212f;
}
