.Button {
  position: absolute;
  width: 31.3775rem;
  height: 3.375rem;

  /* Main01 */
  background: #6b63e1;
  box-shadow: 0rem 0.25rem 1.1875rem rgba(119, 147, 65, 0.3);
  border-radius: 0.625rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  /* 상자 높이와 동일 */
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}

.Button_small {
  width: 11.4375rem;
  height: 3.5625rem;

  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.125rem;
  /* 상자 높이와 동일 또는 90% */
  border-radius: 0.8125rem;
  box-shadow: none;
}

.Button_smallGray {
  width: 11.4375rem;
  height: 3.5625rem;

  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.125rem;
  background: #c1c4c9;
  border-radius: 0.8125rem;
  color: #ffffff;
  box-shadow: none;
}
