.Button {
  position: absolute;
  width: 31.3775rem;
  height: 3.375rem;

  /* Main01 */
  background: #6b63e1;
  box-shadow: 0rem 0.25rem 1.1875rem rgba(119, 147, 65, 0.3);
  border-radius: 0.625rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  /* 상자 높이와 동일 */
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}
