.Header {
  position: absolute;
  width: 90rem;
  height: 4.9375rem;
  left: 0rem;
  top: 0rem;

  display: flex;
  background-color: #ffffff;
}

.Header .logo {
  position: absolute;
  width: 9.0175rem;
  height: 1.9919rem;
  left: 5.0625rem;
  top: 1.4731rem;
}

.Header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 3.875rem;

  position: absolute;
  width: 32.125rem;
  height: 1.3125rem;
  left: 28.9375rem;
  top: 1.8125rem;
}

.Header .navbar .nav-item {
  font-weight: 500;
  font-size: 1.125rem;

  color: #21212f;

  /* 내부 오토레이아웃 */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -1.625rem;
  height: 0.25rem;
  background-color: #6b63e1;
}

.nav-item.active_0::after {
  left: -1.8125rem;
  width: 4.875rem;
}

.nav-item.active_1::after {
  left: 3.875rem;
  width: 9rem;
}

.nav-item.active_2::after {
  left: 14.6875rem;
  width: 8.375rem;
}

.nav-item.active_3::after {
  left: 24.375rem;
  width: 7.75rem;
}

.Header .profile {
  position: absolute;
  width: 11.25rem;
  height: 3.875rem;
  left: 71.9375rem;
  top: 0.6875rem;
}

.Header .profile .person {
  position: absolute;
  width: 2.875rem;
  height: 2.875rem;
  left: 0.8125rem;
  top: 0.5rem;
}

.Header .profile .ment .name {
  position: absolute;
  height: 1.375rem;
  left: 4.5625rem;
  top: 0.5625rem;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 110%;

  color: #21212f;

  /* 내부 오토레이아웃 */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.Header .profile .ment .point {
  position: absolute;
  height: 1.375rem;
  left: 4.5625rem;
  top: 2rem;

  font-size: 1rem;
  line-height: 140%;

  color: #626273;
}
