.header-container {
  width: 120rem;
  height: 4.9375rem;
  top: 0rem;

  background-color: #ffffff;
  box-shadow: 0.125rem 0.25rem 0.625rem rgba(217, 217, 217, 0.3);
}

.Header {
  max-width: 80rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.Header .left-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 17.8rem;
}

.Header .left-section .manager {
  width: 5.625rem;
  height: 2.125rem;

  /* Main02 */
  background: #c7c3ff;
  border: 0.0625rem solid #f3f4f6;
  border-radius: 1.25rem;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.125rem;

  text-align: center;

  color: #ffffff;
}

.Header .logo {
  width: 9.0175rem;
  height: 1.9919rem;
}

.Header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.875rem;
}

.Header .navbar .nav-item {
  position: relative;
  font-weight: 500;
  font-size: 1.125rem;
  color: #21212f;
  flex: none;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -1.625rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.25rem;
  background-color: #6b63e1;
}

/* 아래는 active_0, 1, 2, 3 클래스를 사용한 하드코딩 방식입니다.
   position: absolute 대신 transform을 사용해 아이템 중앙에 맞춥니다.
   이 방식은 아이템 너비가 고정되어 있을 때만 유효합니다.
*/
.nav-item.active_0::after {
  width: 4.875rem;
}
.nav-item.active_1::after {
  width: 9rem;
}
.nav-item.active_2::after {
  width: 8.375rem;
}
.nav-item.active_3::after {
  width: 7.75rem;
}

.Header .right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Header .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 11.125rem;
  height: 3.875rem;
  padding-left: 0.6875rem;

  box-sizing: border-box;

  background: #ffffff;
  border: 0.0625rem solid #f3f4f6;
  border-radius: 2.5rem;
}

.Header .profile .person {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 100%;
}

.Header .profile .ment {
  display: flex;
  flex-direction: column;
  height: 2.875rem;
}

.Header .profile .ment .name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 110%;
  color: #21212f;
}

.Header .profile .ment .point {
  font-size: 1rem;
  line-height: 140%;
  color: #626273;
  margin-top: 0.1875rem;
}

.Header .alarm {
  width: 3.875rem;
  height: 3.875rem;
}
