@import url("../reset.css");

html,
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f8fbff;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
  font-weight: 400;
  font-style: normal;
}

body * {
  font-family: "Pretendard";
}

.main {
  position: relative;
  width: 90rem;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

html {
  font-size: clamp(4.5px, 1.25vw, 16px);
}
